@font-face {
    font-family: 'i-sm';
    src: url(../fonts/Inter-SemiBold.ttf);
}

@font-face {
    font-family: "r-m";
    src: url(../fonts/Rubik-Medium.ttf);
}

@font-face {
    font-family: 'r-r';
    src: url(../fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: 'r-sb';
    src: url(../fonts/Rubik-SemiBold.ttf);
}